@using Netwatch
@model Netwatch.Web.ViewModels.Highscore.IndexViewModel

<h2>Last 5min inbound traffic highscore</h2>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Estimated traffic</th>
            <th style="text-align: center;">Estimated avg speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.InboundLastMinutes)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.InboundTraffic)</td>
                <td style="text-align: center;">@target.EstimatedSpeed</td>
            </tr>
        }

    </tbody>

</table>

<h2>Last 5min outbound traffic highscore</h2>
<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Estimated traffic</th>
            <th style="text-align: center;">Estimated avg speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.OutboundLastMinutes)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.OutboundTraffic)</td>
                <td style="text-align: center;">@target.EstimatedSpeed</td>
                }
            </tr>
        }

    </tbody>

</table>

<h2>Last 60min inbound traffic highscore</h2>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Estimated traffic</th>
            <th style="text-align: center;">Estimated avg speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.InboundLastHour)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.InboundTraffic)</td>
                <td style="text-align: center;">@target.EstimatedSpeed</td>
            </tr>
        }

    </tbody>

</table>

<h2>Last 60min outbound traffic highscore</h2>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Estimated traffic</th>
            <th style="text-align: center;">Estimated avg speed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.OutboundLastHour)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.OutboundTraffic)</td>
                <td style="text-align: center;">@target.EstimatedSpeed</td>
            </tr>
        }

    </tbody>

</table>

<h2>All time inbound traffic highscore</h2>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Inbound Traffic</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.InboundHighscore)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.InboundTraffic)</td>
            </tr>
        }

    </tbody>

</table>

<h2>All time outbound traffic highscore</h2>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>Switch</th>
            <th style="text-align: center;">Port</th>
            <th style="text-align: center;">last scan</th>
            <th style="text-align: center;">Outbound Traffic</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var target in Model.OutboundHighscore)
        {
            <tr>
                <td>@target.SnmpTarget.DisplayName</td>
                <td style="text-align: center;">@target.MonitoredPort.PortNumber</td>
                @if (target.MonitoredPort.LastTimeScanned.HasValue)
                {
                    <td style="text-align: center;">@(DateTime.Now.Subtract(target.MonitoredPort.LastTimeScanned.Value).Seconds)s ago</td>
                }
                else
                {
                    <td style="text-align: center;"> - </td>
                }
                <td style="text-align: center;">@String.Format(new FileSizeFormatProvider(), "{0:fs}", target.OutboundTraffic)</td>
            </tr>
        }

    </tbody>

</table>